<div class="conterner">
    <mat-grid-list cols="15" rowHeight="1vw">
        <mat-grid-tile [colspan]="7" [rowspan]="4" class="menu">
            <div style="width: 100%;height: 100%;">
                <div class="search">
                    <p>
                        <mat-form-field appearance="legacy">
                            <mat-label style="color: cornsilk;font-family: system-ui;">Search for songs, artists...
                            </mat-label>
                            <input width="13vw" matInput placeholder="" autocomplete="off">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </p>
                </div>
                <div class="user"></div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="8" [rowspan]="4">
            <div class="user" style="width: 100%;height: 100%;">
                <div class="left">
                    <p>Brielle Bogan</p>
                </div>
                <div class="left">
                    <div class="ArtistsImg" style="width: 4%;">
                        <img class="" src="../../../../../assets/Img/avata.jpg" alt="">
                    </div>
                </div>
            </div>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="15" [rowspan]="31">
            <div class="list" style="width: 100%;height: 100%;">
                <div *ngFor="let catItem of cat.allCat" style="height: 24vw;">
                    <div style="width: 100%;">
                        <div class="title left">
                            <p>Trending now</p>
                        </div>
                        <div class="seeall left">
                            SEE ALL
                        </div>
                    </div>
                    <div class="listItemCart left">
                        <div *ngFor="let item of catItem" class="item left">
                            <img src="../../../../../assets/{{item['avarImg']}}" alt="">
                            <p class="nameAl">{{s.cutString(item['nameCat'],13)}}</p>
                            <p class="des">{{s.cutString(item['des'],36)}}</p>
                        </div>
                    </div>
                </div>

                

            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>