.menu {
  background: #0b1538;
  position: relative;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  outline: none;
  display: inline-block;
  font-size: 1vw;
  font-family: cursive;
  .avatar {
    width: 100%;
    height: 4vw;
    div {
      display: inline-block;
      h2 {
        font-size: 2vw;
        padding-left: 2vw;
        padding-top: 2.6vw;
      }
    }
  }
  .menu-content {
    letter-spacing: 0.1vw;
    font-weight: lighter;
    height: 87%;
    min-height: 87%;
    padding-bottom: 10%;
    .title {
      color: #ff00d0;
      padding-left: 2.4vw;
      padding-top: 2vw;
      height: 2vw;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      color: #fff;
      .colorPink {
        color: #ff00d0;
      }
      li {
        .iconMenu {
          font-size: 1.2em;
          padding-right: 3%;
        }
        padding-top: 0.3vw;
        padding-right: 0em;
        padding-left: 2.4vw;
        font-size: 0.9em;
        font-weight: regular;
        background-repeat: no-repeat;
        background-position: left 15px center;
        background-size: auto 20px;
        transition: all 0.15s linear;
        &:hover {
          background-color: #431681;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.act {
  background-color: #431681;
}
