<nav class="menu" tabindex="0" onselectstart="return false;" onmousedown="return false;">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <div>
            <h2>
                <p style="color: #FF00D0;display: inline;letter-spacing: 3px;">Musi</p>
                <p style="color: white;display: inline;letter-spacing: 3px;">sity</p>
            </h2>
        </div>
    </header>
    <div class="menu-content">
        <p class="title">LIBRARY</p>
        <ul>
            <li *ngIf="!setActLi(0)" tabindex="0" (click)="click(0)">
                <mat-icon class="iconMenu">
                    home
                </mat-icon>
                <span>Home</span>
            </li>
            <li *ngIf="setActLi(0)" tabindex="0" class="act" >
                <mat-icon class="iconMenu">
                    home
                </mat-icon>
                <span>Home</span>
            </li>


            <li tabindex="0" *ngIf="!setActLi(1)" (click)="click(1)" class="icon-customers" >
                <mat-icon class="iconMenu">
                    queue_music
                </mat-icon>
                <span>Playlist</span>
            </li>
            <li tabindex="0" *ngIf="setActLi(1)" class="icon-customers act" >
                <mat-icon class="iconMenu">
                    queue_music
                </mat-icon>
                <span>Playlist</span>
            </li>


            <li tabindex="0" *ngIf="!setActLi(2)" (click)="click(2)" class="icon-users" >
                <mat-icon class="iconMenu">
                    perm_contact_calendar
                </mat-icon>
                <span>Artists</span>
            </li>
            <li tabindex="0" *ngIf="setActLi(2)" class="icon-users act" >
                <mat-icon class="iconMenu">
                    perm_contact_calendar
                </mat-icon>
                <span>Artists</span>
            </li>

            
            <li tabindex="0" *ngIf="!setActLi(3)" (click)="click(3)" class="icon-settings" >
                <mat-icon class="iconMenu">
                    album
                </mat-icon>
                <span>Albums</span>
            </li>
            <li tabindex="0" *ngIf="setActLi(3)" class="icon-settings act" >
                <mat-icon class="iconMenu">
                    album
                </mat-icon>
                <span>Albums</span>
            </li>


            <li tabindex="0" *ngIf="!setActLi(4)" (click)="click(4)" class="icon-settings" >
                <mat-icon class="iconMenu">
                    music_note
                </mat-icon>
                <span>Songs</span>
            </li>
            <li tabindex="0" *ngIf="setActLi(4)" class="icon-settings act" >
                <mat-icon class="iconMenu">
                    music_note
                </mat-icon>
                <span>Songs</span>
            </li>
        </ul>
        <p class="title">DISCOVER</p>
        <ul>
            <li tabindex="0" *ngIf="!setActLi(5)" (click)="click(5)" class="icon-dashboard" >
                <mat-icon class="iconMenu">
                    video_library
                </mat-icon>
                <span>Store</span>
            </li>
            <li tabindex="0" *ngIf="setActLi(5)" class="icon-dashboard act" >
                <mat-icon class="iconMenu">
                    video_library
                </mat-icon>
                <span>Store</span>
            </li>


            <li tabindex="0" *ngIf="!setActLi(6)" (click)="click(6)" class="icon-customers" >
                <mat-icon class="iconMenu">
                    loyalty
                </mat-icon>
                <span>Liked</span>
            </li>
            <li tabindex="0" *ngIf="setActLi(6)" class="icon-customers act" >
                <mat-icon class="iconMenu">
                    loyalty
                </mat-icon>
                <span>Liked</span>
            </li>


            <li tabindex="0" *ngIf="!setActLi(7)" (click)="click(7)" class="icon-users" >
                <mat-icon class="iconMenu">
                    manage_accounts
                </mat-icon>
                <span>Settings</span>
            </li>
            <li tabindex="0" *ngIf="setActLi(7)" class="icon-users act" >
                <mat-icon class="iconMenu">
                    manage_accounts
                </mat-icon>
                <span>Settings</span>
            </li>
        </ul>
        <p class="title">ADMIN</p>
        <ul>
            <li tabindex="0" *ngIf="!setActLi(8)" (click)="click(8)" class="icon-dashboard" >
                <mat-icon class="iconMenu">
                    library_books
                </mat-icon>
                <span>Songs</span>
            </li>
            <li tabindex="0" *ngIf="setActLi(8)" class="icon-dashboard act" >
                <mat-icon class="iconMenu">
                    library_books
                </mat-icon>
                <span>Songs</span>
            </li>

            
            <li tabindex="0" *ngIf="!setActLi(9)" (click)="click(9)" class="icon-customers" >
                <mat-icon class="iconMenu">
                    supervised_user_circle
                </mat-icon>
                <span>Users</span>
            </li>
            <li tabindex="0" *ngIf="setActLi(9)" class="icon-customers act" >
                <mat-icon class="iconMenu">
                    supervised_user_circle
                </mat-icon>
                <span>Users</span>
            </li>
        </ul>
    </div>
</nav>