<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <div>
            <h2>
                <p style="color: #FF00D0;display: inline;letter-spacing: 3px;">Musi</p>
                <p style="color: white;display: inline;letter-spacing: 3px;">sity</p>
            </h2>
        </div>
    </header>
    <div class="menu-content">
        <p class="title">LIBRARY</p>
        <ul>
            <li *ngIf="!setActLi(0)" tabindex="0" (click)="click(0)">
                <div class="left">
                    <mat-icon class="iconMenu">
                        home
                    </mat-icon>
                </div>
                <span class="left">Home</span>
                <br>
            </li>
            <li *ngIf="setActLi(0)" tabindex="0" class="act">
                <div class="left">
                    <mat-icon class="iconMenu">
                        home
                    </mat-icon>
                </div>
                <span>Home</span> <br>
                <br>
            </li>
            <li tabindex="0" *ngIf="!setActLi(1)" (click)="click(1)" class="icon-customers">
                <div class="left">

                    <mat-icon class="iconMenu">
                        queue_music
                    </mat-icon>
                </div>

                <span>Playlist</span> <br>
            </li>
            <li tabindex="0" *ngIf="setActLi(1)" class="icon-customers act">
                <div class="left">

                    <mat-icon class="iconMenu">
                        queue_music
                    </mat-icon>
                </div>

                <span>Playlist</span> <br>
            </li>
            <li tabindex="0" *ngIf="!setActLi(2)" (click)="click(2)" class="icon-users">
                <div class="left">

                    <mat-icon class="iconMenu">
                        perm_contact_calendar
                    </mat-icon>
                </div>

                <span>Artists</span> <br>
            </li>
            <li tabindex="0" *ngIf="setActLi(2)" class="icon-users act">
                <div class="left">

                    <mat-icon class="iconMenu">
                        perm_contact_calendar
                    </mat-icon>
                </div>

                <span>Artists</span> <br>
            </li>


            <li tabindex="0" *ngIf="!setActLi(3)" (click)="click(3)" class="icon-settings">
                <div class="left">
                    <mat-icon class="iconMenu">
                        equalizer
                    </mat-icon>

                </div>

                <span>Music Chart</span> <br>
            </li>
            <li tabindex="0" *ngIf="setActLi(3)" class="icon-settings act">
                <div class="left">
                    <mat-icon class="iconMenu">
                        equalizer
                    </mat-icon>

                </div>

                <span>Music Chart</span> <br>
            </li>


            <li tabindex="0" *ngIf="!setActLi(4)" (click)="click(4)" class="icon-settings">
                <div class="left">

                    <mat-icon class="iconMenu">
                        music_note
                    </mat-icon>
                </div>

                <span>Songs</span> <br>
            </li>
            <li tabindex="0" *ngIf="setActLi(4)" class="icon-settings act">
                <div class="left">

                    <mat-icon class="iconMenu">
                        music_note
                    </mat-icon>
                </div>

                <span>Songs</span> <br>
            </li>
        </ul>
        <p class="title">DISCOVER</p>
        <ul>
            <li tabindex="0" *ngIf="!setActLi(5)" (click)="click(5)" class="icon-dashboard">
                <div class="left">
                    <mat-icon class="iconMenu">
                        video_library
                    </mat-icon>

                </div>

                <span>Store</span> <br>
            </li>
            <li tabindex="0" *ngIf="setActLi(5)" class="icon-dashboard act">
                <div class="left">

                    <mat-icon class="iconMenu">
                        video_library
                    </mat-icon>
                </div>

                <span>Store</span> <br>
            </li>


            <li tabindex="0" *ngIf="!setActLi(6)" (click)="trylater()" class="icon-customers">
                <div class="left">

                    <mat-icon class="iconMenu">
                        loyalty
                    </mat-icon>
                </div>

                <span>Liked</span> <br>
            </li>
            <li tabindex="0" *ngIf="setActLi(6)" class="icon-customers act">
                <div class="left">

                    <mat-icon class="iconMenu">
                        loyalty
                    </mat-icon>
                </div>

                <span>Liked</span> <br>
            </li>


            <li tabindex="0" *ngIf="!setActLi(7)" (click)="trylater()" class="icon-users">
                <div class="left">

                    <mat-icon class="iconMenu">
                        manage_accounts
                    </mat-icon>
                </div>

                <span>Settings</span> <br>
            </li>
            <li tabindex="0" *ngIf="setActLi(7)" class="icon-users act">
                <div class="left">

                    <mat-icon class="iconMenu">
                        manage_accounts
                    </mat-icon>
                </div>

                <span>Settings</span> <br>
            </li>
        </ul>
        <p class="title">ADMIN</p>
        <ul>
            <li tabindex="0" *ngIf="!setActLi(8)" (click)="trylater()" class="icon-dashboard">
                <div class="left">

                    <mat-icon class="iconMenu">
                        library_books
                    </mat-icon>
                </div>

                <span>Songs</span> <br>
            </li>
            <li tabindex="0" *ngIf="setActLi(8)" class="icon-dashboard act">
                <div class="left">

                    <mat-icon class="iconMenu">
                        library_books
                    </mat-icon>
                </div>

                <span>Songs</span> <br>
            </li>


            <li tabindex="0" *ngIf="!setActLi(9)" (click)="trylater()" class="icon-customers">
                <div class="left">

                    <mat-icon class="iconMenu">
                        supervised_user_circle
                    </mat-icon>
                </div>

                <span>Users</span> <br>
            </li>
            <li tabindex="0" *ngIf="setActLi(9)" class="icon-customers act">
                <div class="left">

                    <mat-icon class="iconMenu">
                        supervised_user_circle
                    </mat-icon>
                </div>

                <span>Users</span> <br>
            </li>
        </ul>
    </div>
</nav>