<div *ngIf="!loadDone" style="width: 100%;height: 100%;background: rgba(5, 23, 109, 0.4); z-index: 5;">
    <div style="margin-top: -5vw;margin-left: 32vw;padding-top: 18vw;">
        <app-spinkit [idSpinkit]="2"></app-spinkit>
    </div>
</div>
<div *ngIf="loadDone" class="conterner" onselectstart="return false;" onmousedown="return false;">
    <mat-grid-list cols="15" rowHeight="1vw">
        <mat-grid-tile [colspan]="15" [rowspan]="31">
            <div class="list" style="width: 100%;height: 100%;">

                <div style="height: 24vw;">
                    <div style="width: 100%;">
                        <div class="title left">
                            <p>Trending now</p>
                        </div>
                        <div class="seeall left">
                            SEE ALL
                        </div>
                    </div>
                    <div class="listItemCart left">
                        <div *ngFor="let item of listTrend" class="item left">
                            <div class="hover" style="width: 100%;height: 100%;" (click)="changeSong(item)">
                                <img src="{{item['Img']}}" alt="">
                                <p class="nameAl">{{s.cutString(item['NameSong'],13)}}</p>
                                <p class="des">{{s.cutString(item['Artists'],36)}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngFor="let catItem of cat.allCat;let i = index" style="height: 24vw;">
                    <div style="width: 100%;">
                        <div class="title left">
                            <p>{{catItem['name']}}</p>
                        </div>
                        <div class="seeall left">

                        </div>
                    </div>
                    <div class="listItemCart left">
                        <div *ngFor="let item of catItem['playlists']" class="item left">
                            <div class="hover" style="width: 100%;height: 100%;"
                                (click)="loadPlayList(item['idSpotify'],catItem['id'], item['name'])">
                                <img src="{{item['img']}}" alt="">
                                <p class="nameAl">{{s.cutString(item['name'],13)}}</p>
                                <p class="des">{{s.cutString(item['des'],36)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>