.conterner {
  position: absolute;
  width: 94.5%;
  //   margin-top: 2vw;
  //   margin-left: 2vw;
  //   padding-bottom: 2vw;
  margin: 2vw;
  color: white;
}

.search {
  font-size: 0.9vw;

  mat-icon {
    font-size: 1vw;
  }
}
.user {
  padding-left: 26vw;
  padding-top: 2vw;
  p {
    padding-top: 0.5vw;
    font-size: 0.9vw;
  }
  .ArtistsImg {
    img {
      margin-left: 0.8vw;
      border-radius: 50%;
      width: 2.8vw;
      float: left;
    }
  }
}

.list {
  padding-top: 1.8vw;
  overflow: overlay;
  .title {
    font-size: 1.8vw;
    font-weight: bold;
    font-family: monospace;
    width: 50%;
    height: 2.5vw;
    padding-left: 1vw;
  }
  .seeall {
    padding-top: 0.4vw;
    margin-left: 26.4vw;
    height: 2.5vw;
  }
}
.listItemCart {
  .item {
    background-color: #54618433;
    height: 18vw;
    width: 13vw;
    border-radius: 2%;
    margin-left: 0.5vw;
    margin-right: 0.5vw;

    img {
      width: 11vw;
      height: 11vw;
      object-fit: cover;
      border-radius: 5%;
      padding-top: 1vw;
      padding-right: 1vw;
      padding-left: 1vw;
    }
    .nameAl {
      font-size: 1.5vw;
      font-family: monospace;
      font-weight: 900;
      margin-bottom: 0;
      margin-left: 1vw;
    }
    .des {
      color: #a6a6a6;
      margin-left: 1.1vw;
      margin-top: 0.2vw;
      font-family: monospace;
      margin-right: 0.1vw;
    }
  }
}
.hover:hover {
  background-color: #72768233;
  color: #ff00d0;
}

.left {
  float: left;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 0.8vw;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff2bb487;
  border-radius: 1vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a02e92;
}
