<div class="left" style="width: 2%;"></div>
<div class="left" style="width: 2%;"></div>
<div class="left ArtistsImg" style="width: 4%;">
    <img *ngIf="songService.songPlaying.Img != ''" class="ArtistsImg" src="{{songService.songPlaying.Img}}" alt="">

</div>
<div class="left ArtistsInfo" style="width: 12%;">
    <p *ngIf="loading == false" class="nameS">{{sv.cutString(songService.songPlaying.NameSong,15)}}</p>
    <p *ngIf="loading == false" class="nameA">{{sv.cutString(songService.songPlaying.Artists,19)}}</p>
</div>
<div class="left ButtonPlay" style="width: 11%;">
    <div class="left" style="width: 27%;">
        <mat-icon (click)="changeSong(-1)" class="icon">
            skip_previous
        </mat-icon>
    </div>
    <div class="left" style="width: 46%;">
        <mat-icon *ngIf="songService.isPlay" class="pau" (click)="audioS.pause()">
            pause_circle_filled
        </mat-icon>
        <mat-icon *ngIf="!songService.isPlay" class="pau" (click)="audioS.play(loading)">
            play_circle_filled
        </mat-icon>
    </div>
    <div class="left" style="width: 27%;">
        <mat-icon (click)="changeSong(1)" class="icon">
            skip_next
        </mat-icon>
    </div>
</div>
<div class="left TimePlay" style="width: 3%;">
    <div style="padding-left: 0.6vw;">{{getM(audioS.time)}}: {{getS(audioS.time)}}</div>
</div>
<div class="left WaveMucsic" style="width: 47%;">
    <div class="boxProcess" #process (click)="changeTimeSong($event)">
        <mat-progress-bar class="progress" mode="determinate" value="{{audioS.percentProcess}}"></mat-progress-bar>
    </div>
</div>
<div class="left TimePlay" style="width: 3%;">
    <p style="padding-left: 0vw;">{{minEnd}}:{{secEnd}}</p>
</div>
<div class="left Volume" style="width: 3%;">
    <mat-icon (click)="Mute()" *ngIf="isMute==0" class="Volume">volume_up</mat-icon>
    <mat-icon (click)="Mute()" *ngIf="isMute!=0" class="Volume">volume_off</mat-icon>
</div>
<div class="left" style="width: 10%;">
    <mat-slider [(ngModel)]="weight" #slider (input)="volume = $event.value" [value]="setVolume()" thumbLabel
        [displayWith]="changeVolumeTag" min="0" max="100">
    </mat-slider>
</div>
<div class="left" style="width: 2%;"></div>

<audio poster="" #audioControl playsinline webkit-playsinline (ended)="changeSong(1)">
</audio>