p {
  color: white;
}
.search {
  margin-top: 2vw;
  margin-left: 3vw;
  font-size: 0.9vw;
  mat-icon {
    font-size: 1vw;
  }
}
.user {
  margin-left: 46vw;
  margin-top: 2.7vw;
  p {
    padding-top: 0.5vw;
    font-size: 1vw;
  }
  .ArtistsImg {
    img {
      margin-left: 0.8vw;
      border-radius: 50%;
      width: 2.8vw;
      float: left;
    }
  }
}

.left {
  float: left;
  overflow: hidden;
}

.customize + * .mat-menu-panel {
  background: red;
}

/////////////////////
.colName {
  height: 4vw;
  padding-top: 0.4vw;
  .ArtistsImg {
    img {
      margin-left: 0.8vw;
      border-radius: 50%;
      width: 3.3vw;
      float: left;
    }
  }
  .name {
    margin: 0.4vw 0.4vw 0vw 0.4vw;
    font-size: 1.2vw;
    font-weight: 500;
  }
  .sub {
    margin: 0vw 0vw 0vw 0.4vw;
    font-size: 0.9vw;
  }
  &:hover {
    background-color: #6f2e9c;
  }
}
.menu {
  position: relative;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  outline: none;
  display: inline-block;
  font-size: 1vw;
  .menu-content {
    letter-spacing: 0.1vw;
    font-weight: lighter;
    height: 87%;
    min-height: 87%;
    padding-bottom: 0.5vw;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      color: #fff;
      .colorPink {
        color: #ff00d0;
      }
      li {
        height: 1.7vw;
        padding: 0.6vw 0vw 0.6vw 1vw;
        font-size: 1.1vw;
        font-weight: regular;
        background-repeat: no-repeat;
        background-position: left 15px center;
        background-size: auto 20px;
        transition: all 0.15s linear;
        .icon {
          width: 1.8vw;
          .iconMenu {
            font-size: 1.4em;
            padding-right: 3%;
          }
        }
        .title {
          width: 10.4vw;
          span {
            font-size: 1vw;
            font-weight: 500;
            font-family: cursive;
            padding-left: 0.5vw;
          }
        }
        .iconNext {
          width: 1.3vw;
          .iconMenu {
            font-size: 1.7em;
          }
        }

        &:hover {
          background-color: #6f2e9c;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.act {
  background-color: #431681;
}
.left {
  float: left;
}
