
<mat-grid-list cols="25" rowHeight="0.981%">
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="75"
        style="background-color: lightblue;"
        >
        <app-nav-menu></app-nav-menu>
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="21"
        [rowspan]="75"
        style="background-color: lightgreen;"
        >
        Two
        <router-outlet></router-outlet>
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="25"
        [rowspan]="14"
        style="background-color: lightpink;"
        >
        <app-play></app-play>
    </mat-grid-tile>
  </mat-grid-list>


