.conterner {
  position: absolute;
  width: 100%;
  margin-top: 2vw;
  margin-left: 2vw;
  padding-bottom: 2vw;
  color: white;
}

.search {
  font-size: 0.9vw;

  mat-icon {
    font-size: 1vw;
  }
}
.user {
  padding-left: 26vw;
  padding-top: 2vw;
  p {
    padding-top: 0.5vw;
    font-size: 0.9vw;
  }
  .ArtistsImg {
    img {
      margin-left: 0.8vw;
      border-radius: 50%;
      width: 2.8vw;
      float: left;
    }
  }
}

.listSong {
  .title {
    margin-bottom: 1.5vw;
    height: 2.2vw;
    margin-top: 1.2vw;
    p {
      font-size: 1.9vw;
      font-weight: 500;
      white-space: 0.1vw;
      letter-spacing: 0.1vw;
    }
  }
}

.left {
  float: left;
  overflow: hidden;
}

.Colec1 {
  margin-left: 5.3vw;
  margin-top: 5.5vw;
  .title {
    height: 2.4vw;
    margin-bottom: 1.6vw;
    p {
      font-size: 1.4vw;
      font-family: inherit;
      font-weight: 500;
      letter-spacing: 0.1vw;
    }
  }
  .lisrArtis {
    height: 13vw;
    overflow: hidden;
    text-align: center;
  }
}

.Colec2 {
  margin-left: 5.3vw;
  margin-top: 5.5vw;
  .title {
    height: 2.4vw;
    margin-bottom: 1.6vw;
    p {
      font-size: 1.4vw;
      font-family: inherit;
      font-weight: 500;
      letter-spacing: 0.1vw;
    }
  }
}
