<div class="conterner" onselectstart="return false;" onmousedown="return false;">
  <mat-grid-list cols="15" rowHeight="1vw">
    <!-- Thanh tìm kiếm -->
    <mat-grid-tile [colspan]="7" [rowspan]="4" class="menu">
      <div style="width: 100%;height: 100%;">
        <div class="search">
          <p>
            <mat-form-field appearance="legacy">
              <mat-label style="color: cornsilk;font-family: system-ui;">Search for songs, artists...</mat-label>
              <input width="13vw" matInput placeholder="" autocomplete="off">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </p>
        </div>
        <div class="user"></div>
      </div>
    </mat-grid-tile>
    <!--  -->
    <!-- Thông tin user bên trái -->
    <mat-grid-tile [colspan]="8" [rowspan]="4">
      <div class="user" style="width: 100%;height: 100%;">
        <div class="left">
          <p>Brielle Bogan</p>
        </div>
        <div class="left">
          <div class="ArtistsImg" style="width: 4%;">
            <img class="" src="../../../../../assets/Img/avata.jpg" alt="">
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <!--  -->
    <!-- List nhạc -->
    <mat-grid-tile [colspan]="6" [rowspan]="31">
      <div class="listSong" style="width: 100%;height: 100%;">
        <div class="title">
          <div class="left" style="width: 87%;">
            <p>Liked</p>
          </div>
          <div class="left" style="width: 12%;">
            <mat-icon class="icon">
              more_horiz
            </mat-icon>
          </div>
        </div>
        <app-list-song></app-list-song>
      </div>
    </mat-grid-tile>
    <!--  -->
    <!-- Nghệ sĩ nổi, bên trái  -->
    <mat-grid-tile [colspan]="9" [rowspan]="17">
      <div class="Colec1" style="width: 100%;height: 100%;">
        <div class="title">
          <div class="left" style="width: 32%;">
            <p>Popular artists</p>
          </div>
          <div class="left" style="width: 5%;">
            <mat-icon class="icon">
              chevron_left
            </mat-icon>
          </div>
          <div class="left" style="width: 49%;">
            <mat-icon class="icon">
              chevron_right
            </mat-icon>
          </div>
          <div class="left" style="width: 7%;">
            <mat-icon class="icon">
              more_horiz
            </mat-icon>
          </div>
        </div>
        <div class="lisrArtis">
          <app-list-top-artis></app-list-top-artis>
        </div>
      </div>
    </mat-grid-tile>
    <!--  -->
    <!-- Playlist đáng chú ý, bên trái -->
    <mat-grid-tile [colspan]="9" [rowspan]="13">
      <div class="Colec2" style="width: 100%;height: 100%;">
        <div class="title">
          <div class="left" style="width: 32%;">
            <p>Playlists</p>
          </div>
          <div class="left" style="width: 5%;">
            <mat-icon class="icon">
              chevron_left
            </mat-icon>
          </div>
          <div class="left" style="width: 49%;">
            <mat-icon class="icon">
              chevron_right
            </mat-icon>
          </div>
          <div class="left" style="width: 7%;">
            <mat-icon class="icon">
              more_horiz
            </mat-icon>
          </div>
        </div>
        <app-play-list></app-play-list>
      </div>
    </mat-grid-tile>
    <!--  -->
  </mat-grid-list>
</div>