.songs {
  height: 28vw;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 0.8vw;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #de28f442;
  border-radius: 1vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #de28f4;
}
