.button2 {
    background-color: rgb(146, 3, 3);
    color: white;
    padding: 2.5%;
    margin: 0.5% 0;
    border-radius: 15px;
    width: 35vw;
    font-size: 1.5vw;
    border: 0;
  
  }