<div *ngIf="idSpinkit==0" class="example">
    <div class="sk-plane mid"></div>
</div>

<div *ngIf="idSpinkit==1" class="example">
    <div class="sk-chase mid">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>
</div>

<div *ngIf="idSpinkit==2" class="example">
    <div class="sk-bounce mid">
        <div class="sk-bounce-dot"></div>
        <div class="sk-bounce-dot"></div>
    </div>
</div>

<div *ngIf="idSpinkit==3" class="example">
    <div class="sk-wave mid">
        <div class="sk-wave-rect"></div>
        <div class="sk-wave-rect"></div>
        <div class="sk-wave-rect"></div>
        <div class="sk-wave-rect"></div>
        <div class="sk-wave-rect"></div>
    </div>
</div>

<div *ngIf="idSpinkit==4" class="example">
    <div class="sk-pulse mid"></div>
</div>

<div *ngIf="idSpinkit==5" class="example">
    <div class="sk-flow mid">
        <div class="sk-flow-dot"></div>
        <div class="sk-flow-dot"></div>
        <div class="sk-flow-dot"></div>
    </div>
</div>

<div *ngIf="idSpinkit==6" class="example">
    <div class="sk-swing mid">
        <div class="sk-swing-dot"></div>
        <div class="sk-swing-dot"></div>
    </div>
</div>

<div *ngIf="idSpinkit==7" class="example">
    <div class="sk-circle mid">
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
    </div>
</div>

<div *ngIf="idSpinkit==8" class="example">
    <div class="sk-circle-fade mid">
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
    </div>
</div>

<div *ngIf="idSpinkit==9" class="example">
    <div class="sk-grid mid">
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
        <div class="sk-grid-cube"></div>
    </div>
</div>

<div *ngIf="idSpinkit==10" class="example">
    <div class="sk-fold mid">
        <div class="sk-fold-cube"></div>
        <div class="sk-fold-cube"></div>
        <div class="sk-fold-cube"></div>
        <div class="sk-fold-cube"></div>
    </div>
</div>

<div *ngIf="idSpinkit==11" class="example">
    <div class="sk-wander mid">
        <div class="sk-wander-cube"></div>
        <div class="sk-wander-cube"></div>
        <div class="sk-wander-cube"></div>
    </div>
</div>