<div class="title">
    <p>Login</p>
</div>
<div class="content">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Ex. pat@example.com">
    </mat-form-field>
    <p>Forgot password?</p>
</div>
<div class="submit">
    <button>Login</button>
</div>