html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "KoHo", "Roboto", "Helvetica Neue", sans-serif;
  background-color: #c2dbfd;
}
.progress .mat-progress-bar-buffer {
  background-color: #bf9191;
}
